[submodule "bundle-all/checksyntax_vim"]
	path = bundle-all/checksyntax_vim
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule "bundle-all/minibufexpl.vim"]
	path = bundle-all/minibufexpl.vim
	url = https://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle-all/gundo"]
	path = bundle-all/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle-all/nerdcommenter"]
	path = bundle-all/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle-all/javascript"]
	path = bundle-all/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle-all/jquery"]
	path = bundle-all/jquery
	url = https://github.com/itspriddle/vim-jquery.git
[submodule "bundle-all/ruby"]
	path = bundle-all/ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle-all/yankring"]
	path = bundle-all/yankring
	url = https://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle-all/mustache"]
	path = bundle-all/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "bundle-all/html5"]
	path = bundle-all/html5
	url = git://github.com/othree/html5.vim.git
[submodule "inspiration/spf13-vim"]
	path = inspiration/spf13-vim
	url = https://github.com/spf13/spf13-vim.git
[submodule "bundle-all/fugitive"]
	path = bundle-all/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle-all/sparkup"]
	path = bundle-all/sparkup
	url = git@github.com:jkimbo/sparkup.git
[submodule "bundle-all/coffee-script"]
	path = bundle-all/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle-all/vim-less"]
	path = bundle-all/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle-all/javascript-syntax"]
	path = bundle-all/javascript-syntax
	url = https://github.com/vim-scripts/JavaScript-syntax.git
[submodule "bundle-all/less"]
	path = bundle-all/less
	url = git@github.com:jkimbo/vim-less.git
[submodule "bundle-all/tcomment"]
	path = bundle-all/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle-all/markdown"]
	path = bundle-all/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "inspiration/exhuma-vim"]
	path = inspiration/exhuma-vim
	url = https://github.com/exhuma/vimfiles.git
[submodule "bundle-all/jade"]
	path = bundle-all/jade
	url = https://github.com/vim-scripts/jade.vim.git
[submodule "bundle-all/vimwiki"]
	path = bundle-all/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "bundle-all/threesome"]
	path = bundle-all/threesome
	url = https://github.com/sjl/threesome.vim.git
[submodule "bundle-all/snipmate"]
	path = bundle-all/snipmate
	url = git@github.com:jkimbo/snipmate.vim.git
[submodule "bundle-all/vimgtd"]
	path = bundle-all/vimgtd
	url = https://github.com/vim-scripts/vimgtd--nianyang.git
[submodule "bundle-all/vimtask"]
	path = bundle-all/vimtask
	url = https://github.com/samsonw/vim-task.git
[submodule "bundle-all/tasklist"]
	path = bundle-all/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle-all/ack"]
    path = bundle-all/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle-all/eco"]
	path = bundle-all/eco
	url = https://github.com/jayferd/eco.vim.git
[submodule "bundle-all/stylus"]
	path = bundle-all/stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle-all/matchtag"]
	path = bundle-all/matchtag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "bundle-all/pyflakes"]
	path = bundle-all/pyflakes
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle-all/piv"]
	path = bundle-all/piv
	url = https://github.com/spf13/PIV.git
[submodule "bundle-all/unicycle"]
	path = bundle-all/unicycle
	url = https://github.com/vim-scripts/UniCycle.git
[submodule "bundle-all/command-t"]
	path = bundle-all/command-t
	url = https://github.com/wincent/Command-T.git
